.container {
    align-items: center;
}

p {
    color: #2f89c4;
    text-align: center;
    font-size: 17px;
}

.btn {
    background-color: #2f89c4;
    color: #FFFFFF;
    font-size: 17px;
    text-align: center;
}

.btn:hover {
    background-color: #4fa4dd;
    color: #FFFFFF;
}

.thankyou, .message {
    text-align: center;
}

.butterfly {
    width: 600px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    text-align: center;
}

.butterfly2 {
    width: 600px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    text-align: center;
}

/* Small screens */
@media (min-width: 365px) and (max-width: 600px) {
    .container {
        align-items: center;
    }
    
    p {
        text-align: center;
        font-size: 14px;
    }
    
    .btn {
        background-color: #2f89c4;
        color: #FFFFFF;
        font-size: 14px;
        text-align: center;
    }    
    
    .butterfly {
        width: 365px;
        margin-top: 95px;
        margin-left: 0;
        margin-right: 0;
        height: auto;
        text-align: center;
    }

    .butterfly2 {
        width: 365px;
        margin-left: 0;
        margin-right: 0;
        height: auto;
        text-align: center;
    }
}
